	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050925/Static/img008_rlwi53.jpg');">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner">
					   					<h1>Living &amp; Sharing the Gospel of God</h1>
											<h2>Living &amp; Sharing the Gospel of God</h2>
					   				</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050951/Static/img006_lg9vpx.jpg');"><!-- /images/img006.jpg -->
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner">
					   					<h1>Tell The World</h1>
											<h2>Living &amp; Sharing the Gospel of God</h2>
					   				</div>
					   			</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050939/Static/img007_igcxgq.jpg');"><!-- /images/img007.jpg -->
			   		<div class="overlay"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
				   				<div class="slider-text">
					   				<div class="slider-text-inner text-center">
					   					<h1>Know More About Jesus</h1>
											<h2>Worshipping in the Lord's Prescence</h2>
					   				</div>
					   			</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-intro">
			<div class="row animate-box">
				<div class="col-md-12 col-md-offset-0 text-center">
					<h2>Welcome to RCF Uniosun Osogbo campus</h2>
					<span>The Habitation of Kings and Queens</span>

				</div>
			</div>
		</div>



		<div id="fh5co-sermon">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Programmes</h2>
					<p>A Fellowship isn't a building—it's the people. We meet every Sunday, Wednesday and Friday and fellowship in the love of Christ.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="sermon-entry">
						<div class="sermon" style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050922/Static/sunday_tq7dvt.png');">
						</div>
						<h3>Sundays</h3>
						<p>Our glorious Sunday services starts by 8am with Sunday school. During our Sunday school classes we teach the word, have interactive sessions as well as asking and answering of questions.</p><p>Our worship services starts 8:45 were we are ushered into the mighty presence of God and learn his word, offer our thanksgiving too.</p>
						<span>8am to 11am</span>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="sermon-entry">
						<div class="sermon" style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050927/Static/wednesday_eaaevg.png');">
							
						</div>
						<h3>Wednesdays</h3>
						<p>Wednesdays we gather 5pm to share the word, have clarifications on what we are not clear on, get more insight on his will.</p>
						<span>5pm to 6pm</span>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="sermon-entry">
						<div class="sermon" style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050713/Static/friday_klats1.png');">
						</div>
						<h3>Fridays</h3>
						<p>Friday's service are between 5-6pm, it is a time we travail in God's presence, we press and tarry before him. It is a moment to commune with our Father.</p>
						<span>5pm to 6:30pm</span>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-services" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Services</h2>
					<p>A Fellowship isn't a building—it's the people. We meet every Sunday, Wednesday and Friday and fellowship in the love of Christ.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050819/Static/img010_ibcnay.jpg" alt="Living and sharing the word of God"></a>
						<div class="desc">
							<h3><a href="#">Live Events</a></h3>
							<p>FRESHERS WEEKEND 2019</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050979/Static/img009_kr1xk8.jpg" alt="Living and sharing the word of God"></a>
						<div class="desc">
							<h3><a href="#">Live Events</a></h3>
							<p>FRESHERS WEEKEND 2019</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<a href="#" class="img-holder"><img class="img-responsive" src="https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050776/Static/img011_sznfkf.jpg" alt="Living and sharing the world of God"></a>
						<div class="desc">
							<h3><a href="#">LIVE EVENTS</a></h3>
							<p>FRESHERS WEEKEND 2019</p>
							<a href="#">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<div id="fh5co-events">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Read Our Latest Posts</h2>
					<p>A Fellowship isn't a building—it's the people. We meet every Sunday, Wednesday and Friday and fellowship in the love of Christ.</p>
				</div>
			</div>
			<div class="row">           
				{{# each posts }} 
             {{# each this }}
				<div class="col-md-4 animate-box">
					<div class="events-entry">
						<h4><a href="/blog-post/{{this.id}}">{{this.title}}</a></h4>
						<p>Posted By: {{this.author}}</p>
						<p>Tag: {{this.tags}}</p>
						<a href="/blog-post/{{this.id}}">Read More <i class="icon-arrow-right3"></i></a>
					</div>
				</div>
			          {{/each}}
           {{/each}}
			</div>
		</div>
	</div><!-- END container-wrap -->